<header>

  <div id="author-image"></div>

  <div class="main">
       <div class="title">{{ appTitle }}</div>
       <div class="description">Introduction To TypeScript & Angular</div>
       <div class="description-yellow">Source No. 1</div>
       <div class="link-wrapper">
          <div class="link">
            <a href="https://t.me/AngularEscort" class="btn-flip" data-back="AngularEscort" data-front="Telegram" target="_blank"></a>
            <a href="https://github.com/ngcoreamirh" class="btn-flip" data-back="ngcoreamirh" data-front="Github" target="_blank"></a>
            <a href="https://stackblitz.com/@ngcoreamirh" class="btn-flip" data-back="ngcoreamirh" data-front="Stackblitz" target="_blank"></a>
          </div>
       </div>
  </div>

</header>

<div class="tips-panel">
  <p>Press <mark>F12</mark> To Open The Console</p>
</div>