<div class="wellcome">

  <div id="author-image"></div>

  <div class="main">
       <div class="title">{{ appTitle }}</div>
       <div class="description">Introduction To TypeScript & Angular</div>
       <div class="description-yellow">Source No. 1</div>
       <div class="link-wrapper">
          <div class="link">
            <img src="/assets/images/telegram-app.png" alt="image">
            <small>Telegram:</small>
            <a href="https://t.me/AngularEscort" target="_blank">{{ telegramID }}</a>
          </div>
       </div>
  </div>

</div>

<div class="tips-panel">
  <p>Press <mark>F12</mark> To Open The Console</p>
</div>