@import '../assets/styles/_colors';
// فایل رنگ هامون رو ایمپورت میکنیم

// css به نحوه سلکتورها دقت کنید که چقدر ساختارمند و قابل فهم تره نسبت به 
// دقت کنید که بعضی فونت سایز هارو به صورت 
// مقداردهی کردیم rem
// 1rem = html font size

header {
    background:linear-gradient(to left,$Black,$Gray,$Black);
    box-shadow: 1px 1px 3px $Black;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:hover {
        #author-image {
            border:none;
            filter: drop-shadow(2px 2px 8px $White);
        }
    }

    #author-image {
        position: absolute;
        top: 20px;
        width: 100px;
        height: 100px;
        background: url('/assets/images/logo-thumb.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: .2s ease;
    }

    .main {
        flex-grow: 1;
        border-radius: 18px 30px 30px 18px;
        .title {
            font-size: 1.5rem;
            text-align: center;
            color: $White;
        }
        .description {
            font-size: .8rem;
            text-align: center;
            color: $Light_Gray;
        }
        .description-yellow {
            @extend .description; // از کلاس بالایی ارث بری کردیم و فقط رنگش رو تغییر دادیم
            color: $Yellow;
        }
        .link-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            .link {
                display: inline-flex;
                flex-wrap: wrap;
                align-items: center;
                color: $Light_Gray;
                gap: 10px;
                a {
                    transition: .2s !important;
                    font-size: .8rem;
                    background-color: $Dark_Gray;
                    padding: 0px 25px 3px 25px;
                    border-radius: 9px;
                    
                    &:nth-child(1) {
                        &:hover {
                            background-color: $Blue;
                            color: $White;
                        }
                    }
                    &:nth-child(2) {
                        &:hover {
                            background-color: $White;
                            color: $Black;
                        }
                    }
                    &:nth-child(3) {
                        &:hover {
                            background-color: $White;
                            color: $Blue;
                        }
                    }
                }
                
               
            }
        }
    }  
}

.tips-panel {
    direction: rtl;
    max-width: 500px;
    background-color: $Dark_Gray;
    padding: 10px;
    margin: 60px auto 0px auto;
    border-radius: 18px;
    p {
        font-size: .8rem;
        text-align: center;
        color: $Light_Gray;
    }
}









/* Responsive Styles */
@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
    header {
        margin: 0;
        #author-image {
          width: 85px;
          height: 85px;
          position: relative !important;
          top: 0;
          margin: 10px auto;
        }
    }

    .tips-panel {
        margin: 60px 20px 0px 20px;
    }
}
