/* معمولا یه فایل به نام رنگ ها درست میشه و متغیرهای موردنیاز تعریف میشه.
برای این اگر بعدا تصمیم گرفتیم مثلا همه رنگ های آبی که استفاده کردیم و تغییر بدیم
مجبور نباشیم بگردیم دونه دونه تغییر بدیم.
یه جا تعریفشون میکنیم که تغییرشون هم ساده باشه و یه دست باشه */
$White : #ffffff;
$Black : #161616;
$Gray: #4d4d4d;
$Light_Gray: #b4b4b4;
$Dark_Gray: #292929;
$Yellow : #ffff00;
$Blue: #3983d8;
$Cherry_Red: #b90c4e;